@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

.text {
  font-family: "DM Mono", monospace;
  font-size: 0.7em;
  color: white;
}

body {
  background-color: #000000;
  text-align: center;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  outline: none;
  box-shadow: 0px 0px 25px white;
}