@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

html,
body {
  min-height: 100%;
  margin: 0;
}

.text {
  font-family: "DM Mono", monospace;
  font-size: 2vh;
  color: white;
}

body {
  background-color: #000000;
  text-align: center;
}

h2 {
  font-weight: normal;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  outline: none;
  box-shadow: 0px 0px 25px white;
}

